header {
    background-color: rgb(219, 184, 107);
    color: white;
    font-size: xx-large;
    padding: 20px;
    margin-bottom: 20px;

}


/* space between */

.cardbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardManage {
    width: 170px;
    margin: 10px;
    border: 2px;
    border-style: solid;
}

.card {
    width: 170px;
    margin: 10px;
    border: 2px;
    border-style: solid;
}

.head {
    background-color: blue;
    color: white;
}

.testzone{
    font-size: xx-large;
    font-weight: bold;
}