header {
    background-color: rgb(219, 184, 107);
    color: white;
    font-size: xx-large;
    padding: 20px;
    margin-bottom: 20px;

}



main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* space between */



.card {
    width: 170px;
    margin: 10px;
    border: 2px;
    border-style: solid;
}

.head {
    background-color: blue;
    color: white;
}

